PORT=3000

DATABASE_URL=postgresql://postgres:PAROL@localhost:5432/restaurant

REDIS_URL=redis://localhost:6379

JWT_SECRET=o'zgartiring
JWT_EXPIRE=7d
JWT_KEY=o'zgartiring

GMAIL_EMAIL=email@gmail.com
GMAIL_PASSWORD=gmail_app_password

SP_EMAIL=admin@restaurant.com
SP_USERNAME=adminali
SP_PASSWORD=AdminParol007

CORS_ORIGINS=http://SERVER_IP
