# Dependencies
node_modules/

# Build output
dist/

# Environment (server da qo'lda yaratiladi)
.env
.env.*
!.env.example

# Prisma generated
/generated/prisma

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# PM2
.pm2/
